@using DevExpress.Blazor.Internal
@using IMAR_DialogoOperatore.Interfaces.Observers
@using IMAR_DialogoOperatore.ViewModels
@using System.Text

@inject AttivitaDetailsViewModel AttivitaDetailsViewModel
@inject IDialogoOperatoreObserver DialogoOperatoreObserver
@inject IJSRuntime JSRuntime

@if (AttivitaDetailsViewModel.IsAttivitaIndiretta())
{
	<div style="padding: 20px; height: 100%;">
		<div class="d-flex justify-content-center align-items-center testo-piccolo mt-2">
			<label style="color: white;">BOLLA</label>
		</div>
		<div class="d-flex justify-content-center align-items-center mt-1">
			<span style="font-size: 1.6rem; color: gray; font-weight: bold; letter-spacing: 2px;">
				@AttivitaDetailsViewModel.BollaIndiretta
			</span>
		</div>

		<div class="d-flex justify-content-center align-items-center mt-4">
			<label style="color: white; font-size: 0.9rem;">ATTIVITA INDIRETTA IN CORSO</label>
		</div>

		<div style="background-color: darkorange;
					border-radius: 12px;
					padding: 25px;
					margin: 15px 0;
					text-align: center;">
			<span style="font-size: 2.2rem; color: white; font-weight: bold;">
				@AttivitaDetailsViewModel.DescrizioneFaseIndiretta
			</span>
		</div>

		<div class="d-flex justify-content-center align-items-center mt-3 testo-piccolo">
			<label>@AttivitaDetailsViewModel.StatoAttivita</label>
		</div>

		<div class="mt-4">
			<label style="color: white; font-size: 0.85rem;">NOTE</label>
			<DxMemo @bind-Text="@_notaIndiretta"
					Rows="10"
					CssClass="mt-1"
					style="font-size: 1.1rem;"
					NullText="Scrivi una nota..." />
		</div>
	</div>
}
else
{
	<DxGridLayout CssClass="testo-piccolo">
		<Rows>
			<DxGridLayoutRow Height="auto" />
			<DxGridLayoutRow Height="auto" />
			<DxGridLayoutRow Height="auto" />
			<DxGridLayoutRow Height="auto" />
			<DxGridLayoutRow Height="auto" />
			<DxGridLayoutRow Height="auto" />
			<DxGridLayoutRow Height="auto" />
			<DxGridLayoutRow />
		</Rows>
		<Columns>
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
			<DxGridLayoutColumn />
		</Columns>

		<Items>
			<DxGridLayoutItem Row="0"
							  Column="1" ColumnSpan="10">
				<Template>
					<InfoBaseAttivita InfoBaseInserite="@InfoBaseInserite"
									  ShowArticolo="true"
									  ShowDescrizioni="true"
									  ShowDataSchedulata="true"
									  ShowBottoneIndirette="true" />
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="1" RowSpan="3"
							  Column="1" ColumnSpan="2">
				<Template>
					<DxProgressBar Type="ProgressBarType.Horizontal"
								   MaxValue="@AttivitaDetailsViewModel.QuantitaOrdine"
								   Value="@AttivitaDetailsViewModel.QuantitaProdottaPrecedentemente"
								   Size="12dvw"
								   Thickness="2dvh"
								   Label="@AttivitaDetailsViewModel.CompletamentoFase"
								   LabelPosition="ProgressBarLabelPosition.Top"
								   ShowLabel="true"
								   CssClass="mt-2" />
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="1"
							  Column="6" ColumnSpan="5">
				<Template>
					<div class="d-flex h-100 testo-piccolo mt-2">
						<label>Qt. RESIDUA: @AttivitaDetailsViewModel.QuantitaResidua</label>
					</div>
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="2"
							  Column="6" ColumnSpan="5">
				<Template>
					<div class="d-flex h-100 testo-piccolo">
						<label>Qt. SCARTATA TOTALE: @AttivitaDetailsViewModel.QuantitaScartataTotale</label>
					</div>
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="3"
							  Column="6" ColumnSpan="5">
				<Template>
					<div class="d-flex h-100 testo-piccolo">
						<label>@AttivitaDetailsViewModel.StatoAttivita</label>
					</div>
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="4"
							  Column="1" ColumnSpan="10"
							  Visible="@AttivitaDetailsViewModel.IsAvanzamento">
				<Template>
					<AvanzamentoAttivitaView DatiAvanzamentoInseriti="@DatiAvanzamentoInseriti"
											 @ref="@Avanzamento" />
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="5"
							  Column="1" ColumnSpan="10"
							  Visible="@AttivitaDetailsViewModel.IsFineAttrezzaggio">
				<Template>
					<div class="d-flex justify-content-center align-items-center h-100 testo-piccolo">
						<label>APRI COME LAVORO</label>
					</div>
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="6"
							  Column="1" ColumnSpan="10"
							  Visible="@AttivitaDetailsViewModel.IsFineAttrezzaggio">
				<Template>
					<DxCheckBox CheckType="CheckType.Switch"
								@bind-Checked="@AttivitaDetailsViewModel.IsAperturaLavoroAutomaticaAttiva"
								LabelPosition="LabelPosition.Left"
								Alignment="CheckBoxContentAlignment.Center"
								SizeMode="SizeMode.Large"
								CssClass="testo-piccolo"
								@ref="@InizioLavoro"
								@onkeydown="HandleInizioLavoroKeyPress" />
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="5"
							  Column="1" ColumnSpan="10"
							  Visible="@AttivitaDetailsViewModel.IsFineAttivitaInUscita">
				<Template>
					<div class="d-flex justify-content-center align-items-center h-100 testo-piccolo">
						<label>ATTIVA RIAPERTURA AUTOMATICA</label>
					</div>
				</Template>
			</DxGridLayoutItem>

			<DxGridLayoutItem Row="6"
							  Column="1" ColumnSpan="10"
							  Visible="@AttivitaDetailsViewModel.IsFineAttivitaInUscita">
				<Template>
					<DxCheckBox CheckType="CheckType.Switch"
								@bind-Checked="@AttivitaDetailsViewModel.IsRiaperturaAttiva"
								LabelPosition="LabelPosition.Left"
								Alignment="CheckBoxContentAlignment.Center"
								SizeMode="SizeMode.Large"
								CssClass="testo-piccolo"
								@ref="@Riapertura"
								@onkeydown="HandleRiaperturaKeyPress" />
				</Template>
			</DxGridLayoutItem>
		</Items>
	</DxGridLayout>
}

@code {
	[Parameter] public EventCallback WorkDoneCallback { get; set; }

	private DxMaskedInput<string?> BollaRef;
	private DxMaskedInput<string?> OdpRef;
	private DxComboBox<string, string> FasiRef;
	private AvanzamentoAttivitaView Avanzamento;
	private DxCheckBox<bool> Riapertura;
	private DxCheckBox<bool> InizioLavoro;
	private string _notaIndiretta = string.Empty;

	protected override Task OnInitializedAsync()
	{
		AttivitaDetailsViewModel.NotifyStateChanged += AttivitaDetailsViewModel_NotifyStateChanged;

		return base.OnInitializedAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
			await SetFocus(BollaRef);

		await base.OnAfterRenderAsync(firstRender);
	}

	private async void AttivitaDetailsViewModel_NotifyStateChanged()
	{
		await InvokeAsync(StateHasChanged);
	}

	private async Task SetFocus(IFocusableEditor element)
	{
		try
		{
			if (!DialogoOperatoreObserver.IsDettaglioAttivitaOpen)
				return;

			await Task.Delay(20);
			await element.FocusAsync();
		}
		catch
		{

		}
	}

	private async void InfoBaseInserite()
	{
		if (AttivitaDetailsViewModel.IsAvanzamento)
			await SetFocus(Avanzamento.Prodotta);
		else if (AttivitaDetailsViewModel.IsFineAttrezzaggio)
			await SetFocus(InizioLavoro);
		else if (AttivitaDetailsViewModel.IsFineAttivitaInUscita)
			await SetFocus(Riapertura);
		else
			await WorkDoneCallback.InvokeAsync();
	}

	private async void DatiAvanzamentoInseriti()
	{
		if (AttivitaDetailsViewModel.IsFineAttivitaInUscita)
			await SetFocus(Riapertura);
		else
			await WorkDoneCallback.InvokeAsync();
	}

	private async void HandleInizioLavoroKeyPress(KeyboardEventArgs e)
	{
		switch (e.Key)
		{
			case "Enter":
				await WorkDoneCallback.InvokeAsync();
				break;
			case "ArrowRight":
				AttivitaDetailsViewModel.IsAperturaLavoroAutomaticaAttiva = true;
				break;
			case "ArrowLeft":
				AttivitaDetailsViewModel.IsAperturaLavoroAutomaticaAttiva = false;
				break;
		}
	}

	private async void HandleRiaperturaKeyPress(KeyboardEventArgs e)
	{
		switch (e.Key)
		{
			case "Enter":
				await WorkDoneCallback.InvokeAsync();
				break;
			case "ArrowRight":
				AttivitaDetailsViewModel.IsRiaperturaAttiva = true;
				break;
			case "ArrowLeft":
				AttivitaDetailsViewModel.IsRiaperturaAttiva = false;
				break;
		}
	}
}
