@using DevExpress.Blazor.Internal
@using IMAR_DialogoOperatore.ViewModels

@inject AvanzamentoAttivitaViewModel AvanzamentoAttivitaViewModel

<DxGridLayout style="height:100%;
					 font-size:1.668vh;">
	<Rows>
		<DxGridLayoutRow />
		<DxGridLayoutRow />
		<DxGridLayoutRow />
		<DxGridLayoutRow />
	</Rows>
	<Columns>
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
	</Columns>

	<Items>
		<DxGridLayoutItem Row="1"
						  Column="0" ColumnSpan="2">
			<Template>
				<div style="height:100% !important"
					 class="d-flex justify-content-center align-items-center">
					<label>Qt. PRODOTTA</label>
				</div>
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="1"
						  Column="3" ColumnSpan="2">
			<Template>
				<div style="height:100% !important"
					 class="d-flex justify-content-center align-items-center">
					<label>Qt. SCARTATA</label>
				</div>
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="1"
						  Column="6" ColumnSpan="2">
			<Template>
				<div style="height:100% !important"
					 class="d-flex justify-content-center align-items-center">
					FASE COMPLETATA
				</div>
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="2"
						  Column="0" ColumnSpan="2">
			<Template>
				<DxSpinEdit @bind-Value="@(AvanzamentoAttivitaViewModel.QuantitaProdotta)"
							ShowSpinButtons="false"
							AllowMouseWheel="false"
							style="margin-bottom:5px;
								  --dxbl-text-edit-padding-x: 0.35vw;
								  --dxbl-text-edit-padding-y: 0vh;
								  --dxbl-text-edit-font-size: 1.668vh;"
							@ref="Prodotta"
							@onkeydown="HandleProdottaKeyPress"
							@onclick="@(() => Click.InvokeAsync())" />
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="2"
						  Column="3" ColumnSpan="2">
			<Template>
				<DxSpinEdit @bind-Value="@(AvanzamentoAttivitaViewModel.QuantitaScartata)"
							ShowSpinButtons="false"
							AllowMouseWheel="false"
							style="margin-bottom:5px;
								  --dxbl-text-edit-padding-x: 0.35vw;
								  --dxbl-text-edit-padding-y: 0vh;
								  --dxbl-text-edit-font-size: 1.668vh;"
							@ref="Scartata"
							@onkeydown="HandleScartataKeyPress"
							@onclick="@(() => Click.InvokeAsync())" />
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="2"
						  Column="6" ColumnSpan="2">
			<Template>
				<DxCheckBox CheckType="CheckType.Switch"
							@bind-Checked="@AvanzamentoAttivitaViewModel.IsFaseCompletabile"
							Alignment="CheckBoxContentAlignment.Center"
							SizeMode="SizeMode.Large"
							@ref="Saldo"
							@onkeydown="HandleSaldoKeyPress"
							@onclick="@(() => Click.InvokeAsync())" />
			</Template>
		</DxGridLayoutItem>
	</Items>
</DxGridLayout>

@code {
	[Parameter] public EventCallback DatiAvanzamentoInseriti { get; set; }
	[Parameter] public EventCallback Click { get; set; }

	public DxSpinEdit<int?> Prodotta { get; set; }

	private DxSpinEdit<int?> Scartata;
	private DxCheckBox<bool> Saldo;

	protected override Task OnInitializedAsync()
	{
		AvanzamentoAttivitaViewModel.NotifyStateChanged += AvanzamentoAttivitaViewModel_NotifyStateChanged;

		return base.OnInitializedAsync();
	}

	private async void AvanzamentoAttivitaViewModel_NotifyStateChanged()
	{
		await InvokeAsync(StateHasChanged);
	}

	private async void SetFocus(IFocusableEditor element)
	{
		try
		{
			await Task.Delay(10);
			await element.FocusAsync();
		}
		catch
		{

		}
	}

	private void HandleProdottaKeyPress(KeyboardEventArgs e)
	{
		switch (e.Key)
		{
			case "Enter":
				SetFocus(Scartata);
				break;
		}
	}

	private void HandleScartataKeyPress(KeyboardEventArgs e)
	{
		switch (e.Key)
		{
			case "Enter":
				SetFocus(Saldo);
				break;
		}
	}

	private async void HandleSaldoKeyPress(KeyboardEventArgs e)
	{
		switch (e.Key)
		{
			case "Enter":
				await DatiAvanzamentoInseriti.InvokeAsync();
				break;
			case "ArrowRight":
				AvanzamentoAttivitaViewModel.IsFaseCompletabile = true;
				break;
			case "ArrowLeft":
				AvanzamentoAttivitaViewModel.IsFaseCompletabile = false;
				break;
		}
	}
}
