@using IMAR_DialogoOperatore.ViewModels

@inject GestoreAttivitaViewModel GestoreAttivitaViewModel

<DxDrawer IsOpen="@IsOpen"
		  Position="DrawerPosition.Right"
		  Mode="DrawerMode.Overlap"
		  PanelWidth="35%"
		  CloseOnTargetContentClick="false">
	<HeaderTemplate>
		<div class="testo-grande">
			Operazione: @GestoreAttivitaViewModel.OperazioneInCorso
		</div>
	</HeaderTemplate>

	<BodyTemplate>
		<div style="border:3px solid @GetBorderColor();
					border-radius:8px;
					height:stretch;">
			<AttivitaDetails @ref="@AttivitaDetails"
							 WorkDoneCallback="@Conferma" />
		</div>
	</BodyTemplate>

	<FooterTemplate>
		<DxButton Text="Rilavorazione/Ritaglio"
				  RenderStyle="ButtonRenderStyle.Warning"
				  RenderStyleMode="ButtonRenderStyleMode.Outline"
				  Enabled="@GestoreAttivitaViewModel.CreaFaseNonPianificataCommand.CanExecute(null)"
				  Click="@GestoreAttivitaViewModel.CreaFaseNonPianificataCommand.Execute"
				  CssClass="d-flex justify-content-center align-items-center conferma-dettagli" />

		<DxButton Text="Conferma"
				  RenderStyle="ButtonRenderStyle.Warning"
				  Enabled="@GestoreAttivitaViewModel.ConfermaCommand.CanExecute(null)"
				  Click="@GestoreAttivitaViewModel.ConfermaCommand.Execute"
				  CssClass="d-flex justify-content-center align-items-center conferma-dettagli" />
	</FooterTemplate>

	<TargetContent>
		<AttivitaGrid />
	</TargetContent>
</DxDrawer>

@code {
	public bool IsOpen => GestoreAttivitaViewModel.IsOpen;

	public AttivitaDetails AttivitaDetails { get; set; }

	protected override Task OnInitializedAsync()
	{
		GestoreAttivitaViewModel.NotifyStateChanged += GestoreAttivitaViewModel_NotifyStateChanged;

		return base.OnInitializedAsync();
	}

	private async void GestoreAttivitaViewModel_NotifyStateChanged()
	{
		await InvokeAsync(StateHasChanged);
	}

	private string GetBorderColor()
	{
		return GestoreAttivitaViewModel.OperazioneInCorso switch
		{
			"Inizio lavoro" => "limegreen",
			"Fine lavoro" => "royalblue",
			"Avanzamento" => "dodgerblue",
			"Inizio attrezzaggio" => "limegreen",
			"Fine attrezzaggio" => "royalblue",
			_ => string.Empty
		};
	}

	private void Conferma()
	{
		if (GestoreAttivitaViewModel.ConfermaCommand.CanExecute(null))
			GestoreAttivitaViewModel.ConfermaCommand.Execute(null);
	}
}
