@using IMAR_DialogoOperatore.Application
@using IMAR_DialogoOperatore.Application.Interfaces.Utilities
@using IMAR_DialogoOperatore.Enums
@using IMAR_DialogoOperatore.Interfaces.Observers
@using IMAR_DialogoOperatore.ViewModels

@inject MessageBoxViewModel MessageBoxViewModel
@inject IDialogoOperatoreObserver DialogoOperatoreObserver
@inject IAutoLogoutUtility AutoLogoutUtility

@implements IDisposable

<DxPopup @bind-Visible="@_isVisible"
         HeaderText="@MessageBoxViewModel.Title"
         ShowHeader="@(!string.IsNullOrEmpty(MessageBoxViewModel.Title))"
         ShowCloseButton="false"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         ShowFooter="true"
         Width="35%"
         @onkeydown="RestartAutoLogoutTimer"
         @onclick="RestartAutoLogoutTimer"
         @onmousemove="RestartAutoLogoutTimer"
         @onmousedown="RestartAutoLogoutTimer">
    <BodyContentTemplate>
        <div style="white-space:pre-line;" class="testo-piccolo">
            @MessageBoxViewModel.Message
        </div>
    </BodyContentTemplate>

    <FooterContentTemplate>
        @foreach (var button in MessageBoxViewModel.Buttons)
        {
            <DxButton Text="@button.Text"
                      Click="@(() => HandleButtonClick(button.Result))"
                      RenderStyle="ButtonRenderStyle.Warning"
                      RenderStyleMode="@(button.IsOutline ? ButtonRenderStyleMode.Outline : ButtonRenderStyleMode.Contained)"
                      CssClass="d-flex justify-content-center align-items-center conferma-dettagli" />
        }
    </FooterContentTemplate>
</DxPopup>

@code {
    private bool _isVisible;

    protected override void OnInitialized()
    {
        MessageBoxViewModel.NotifyStateChanged += MessageBoxViewModel_NotifyStateChanged;
        _isVisible = MessageBoxViewModel.IsVisible;
        base.OnInitialized();
    }

    private async void MessageBoxViewModel_NotifyStateChanged()
    {
        _isVisible = MessageBoxViewModel.IsVisible;
        await InvokeAsync(StateHasChanged);
    }

    private void HandleButtonClick(MessageBoxResult result)
    {
        MessageBoxViewModel.HandleButtonClick(result);
    }

    private void RestartAutoLogoutTimer()
    {
        if (IsRestartTimerActive())
            AutoLogoutUtility.RestartTimer();
    }

    private bool IsRestartTimerActive()
    {
        return AutoLogoutUtility.IsActive &&
               DialogoOperatoreObserver.OperatoreSelezionato != null &&
               DialogoOperatoreObserver.OperatoreSelezionato.Stato != Costanti.ASSENTE &&
               DialogoOperatoreObserver.OperatoreSelezionato.Stato != Costanti.IN_PAUSA;
    }

    public void Dispose()
    {
        MessageBoxViewModel.NotifyStateChanged -= MessageBoxViewModel_NotifyStateChanged;
    }
}
